.container {
    max-width: 90%;
    margin: 0 auto;
}

.content {
    max-width: 70%;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

.level {
    display: inline;
}

.buttonsPag {
    max-width: 100%;
    margin-top: 15px;
}

.buttonsNP {
    border-radius: 5px;
    border-color: transparent;
    width: 150px;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
    background-color: transparent;
    color: #eef2f1;
}

.buttonsNP:hover {
    background-color: #eef2f1;
    color: #111111;
    border-color: transparent;
}

.buttonsNP:visited {
    border-color: transparent;
    background-color: #eef2f1;
    color: #111111;
}

.acoso {
    margin-top: 50px;
    margin-bottom: 5px;
}

.tags {
    background-color: #ffffff35;
    height: 35px;
    border-radius: 5px;
}

.buttonExit {
    border-radius: 5px;
    border: none;
    font-family: 'Poppins', sans-serif;
}

.user {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.exit {
    width: 17px;
}

.card {
    background-color: #ffffff46;
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
}

.card-title {
    font-size: 25px;
}

.card-text {
    font-size: 17px;
    font-family: 'Lato', sans-serif;
}

.inputTags {
    margin: 10px 0 0;
    margin-left: 10px;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #f8f7f7;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #c2ccca;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #e1b1f8;
    display: inline-block;
    visibility: visible;
    border: 2px solid #ffffff;
}

@media only screen and (min-width:320px) and (max-width:823px) {
    .container {
        max-width: 100%;
        margin: 0 auto;
    }
    .tags {
        background-color: #ffffff35;
        height: 170px;
        border-radius: 5px;
        width: 140px;
    }
    .content {
        max-width: 90%;
        margin: 0 auto;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .content_tags {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .violencia {
        margin-left: 35px;
    }
    .level {
        display: flex;
    }
    label {
        font-size: 10px;
        margin-top: 10px;
    }
    input {
        width: 15px;
        height: 15px;
    }
    input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #f8f7f7;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid #c2ccca;
    }
    input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #e1b1f8;
        display: inline-block;
        visibility: visible;
        border: 2px solid #ffffff;
    }
}

@media screen and (min-width: 320px) and (max-width: 880px) and (orientation: landscape) {
    .container {
        max-width: 100%;
        margin: 0 auto;
    }
    .tags {
        background-color: #ffffff35;
        height: 170px;
        border-radius: 5px;
        width: 140px;
    }
    .content {
        max-width: 90%;
        margin: 0 auto;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .content_tags {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .violencia {
        margin-left: 35px;
    }
    .level {
        display: flex;
    }
    label {
        font-size: 10px;
        margin-top: 10px;
    }
    input {
        width: 15px;
        height: 15px;
    }
    input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #f8f7f7;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid #c2ccca;
    }
    input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #e1b1f8;
        display: inline-block;
        visibility: visible;
        border: 2px solid #ffffff;
    }
}