.example-spacer {
  flex: 1 1 auto;
}

.toolbar {
  min-height: 40px !important;
  height: 40px !important;
}

mat-toolbar {
  background-color: rgba(233, 195, 236, 0.13);
  margin-bottom: 2%;
}
button {
  background-color: rgba(237, 228, 237, 0.651);
  border: transparent;
}
