.container {
    max-width: 90%;
    margin: 0 auto;
}

.content {
    max-width: 70%;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

.buttonsPag {
    max-width: 100%;
    margin-top: 15px;
}

.buttonsNP {
    border-radius: 5px;
    border-color: transparent;
    width: 100px;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
    background-color: transparent;
    color: #20d1a9;
}

.buttonsNP:hover {
    background-color: #20d1a9;
    color: #111111;
    border-color: transparent;
}

.buttonsNP:visited {
    border-color: transparent;
    background-color: #20d1a9;
    color: #111111;
}

.acoso {
    margin-top: 50px;
    margin-bottom: 5px;
}

.tags {
    background-color: #333333;
    height: 35px;
    border-radius: 5px;
}

.buttonExit {
    border-radius: 5px;
    border: none;
    font-family: 'Poppins', sans-serif;
}

.user {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.exit {
    width: 17px;
}

.card {
    background-color: #191919;
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
}

.card-title {
    font-size: 25px;
}

.card-text {
    font-size: 17px;
    font-family: 'Lato', sans-serif;
}

.inputTags {
    margin: 10px 0 0;
    margin-left: 10px;
}

input[type="radius"] {
    background-color: #20d1a9;
}