.container {
    max-width: 900px;
    margin: 0 auto;
}

.buttonExit {
    border-radius: 5px;
    border: none;
    font-family: 'Poppins', sans-serif;
}

.user {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.exit {
    width: 17px;
}

.card {
    background-color: #23241F;
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
}

.card-title {
    font-size: 25px;
}

.card-text {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}