<card-auth
  [title]="'Bienvenido a la aplicación de etiquetado'"
  [subtitle]="'Inicio de sesión'">
  <form [formGroup]="formGroup" (ngSubmit)="checkAccount()">
    <mat-form-field>
      <input matInput placeholder="Usuario/Email" formControlName="email">
    </mat-form-field><br>
    <mat-form-field>
      <input matInput placeholder="Contraseña" formControlName="password" type="password">
    </mat-form-field><br>
    <button mat-raised-button color="primary" class="auth-button" type="submit" [disabled]="!formGroup.valid">
      <mat-icon class="auth-card-icon">
        send
      </mat-icon>
      <span>
        Iniciar sesión
      </span>
    </button>
  </form>
</card-auth>
