.auth-card-icon {
  color: rgb(230, 56, 56);
  font-size: 18px;
  vertical-align: middle;
}

.auth-button{
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-form-field{
  margin-left: 15px;
  display: flex;
  justify-content: center;
}
