<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesión</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet-admin.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/logo.ico') }}" />
</head>

<body>
    <div class="container">
        <div class="row justify-content-center pt-5 mt-5 mr-1">
            <div class="col-md-4 form-admin">
                <form action="/validation" method="POST">
                    <div class="form-group text-center pt-3">
                        <h1 class="text-light">Iniciar sesión</h1>
                    </div>
                    <div class="form-group mx-sm-3 pt-3">
                        <input type="text" class="form-control" placeholder="Ingrese su correo" name="email" required />
                    </div>
                    <div class="form-group mx-sm-3 pb-4">
                        <input type="password" class="form-control" placeholder="Contraseña" name="passwd" required />
                    </div>
                    <div class="form-group mx-sm-4 pb-4">
                        <input type="submit" class="ingresar boton btn btn-block" value="Ingresar" />
                    </div>

                    {% if alert %}
                    <div class="alert alert-danger form-group mx-sm-4" role="alert ">
                        {{alert}}
                    </div>
                    {% endif %} {% if successful %}
                    <div class="alert alert-success form-group mx-sm-4" role="alert">
                        {{successful}}
                    </div>
                    {% endif %}
                </form>
                <div class="text-center">
                    <a href="/sign_up" style="color: white">Registrarse</a><br />
                    <a href="/restore" style="color: white">Olvide mi contraseña</a>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="{{ url_for( 'static', filename='js/jquery-3.5.1.min.js' )}} "></script>
    <script src="{{ url_for( 'static', filename='js/bootstrap.bundle.min.js' )}} "></script>
</body>

</html>