<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet-admin.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/logo.ico') }}" />
    <title>Recuperar</title>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center pt-4 mt-5 mr-1">
            <div class="col-md-4 form-admin">
                {% if email and code %}
                <form action="/restore_passwd_code" method="POST">
                    <div class="form-group text-center pt-3">
                        <h1 class="text-congrat">Recuperemos su contraseña</h1>
                    </div>
                    <div class="form-group mx-sm-4 pt-2">
                        <input type="text" class="form-control" placeholder="Correo/Usuario" name="email" value={{email}} required />
                    </div>
                    {% else %}
                    <form action="/restore_passwd" method="POST">
                        <div class="form-group text-center pt-3">
                            <h1 class="text-congrat">Recuperemos su contraseña</h1>
                        </div>
                        <div class="form-group mx-sm-4 pt-2">
                            <input type="text" class="form-control" placeholder="Correo/Usuario" name="email" required />
                        </div>
                        {% endif %} {% if alert %}
                        <div class="alert alert-danger form-group mx-sm-4" role="alert ">
                            {{alert}}
                        </div>
                        {% endif %} {% if code %}
                        <div class="alert alert-success form-group mx-sm-4" role="alert ">
                            Ingrese el código que llego a su correo electronico y su contraseña nueva {{code}}
                        </div>
                        <div class="form-group mx-sm-4 pb-1">
                            <input type="password" class="form-control" placeholder="Contraseña" name="passwd" required />
                        </div>
                        <div class="form-group mx-sm-4 pb-1">
                            <input type="password" class="form-control" placeholder="Confirme su contraseña" name="c_passwd" required />
                        </div>
                        <div class="form-group mx-sm-4 pb-1">
                            <input type="text" class="form-control" placeholder="Ingrese código" name="code" required />
                        </div>
                        {% endif %}
                        <div class="form-group mx-sm-4 pb-3">
                            <input type="submit" class="ingresar boton btn btn-block" value="Enviar" />
                        </div>
                    </form>
                    <div class="text-center">
                        <a href="/" style="color: white">Iniciar Sesión</a>
                    </div>
            </div>
        </div>
    </div>
    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="{{ url_for( 'static', filename='js/jquery-3.5.1.min.js' )}} "></script>
    <script src="{{ url_for( 'static', filename='js/bootstrap.bundle.min.js' )}} "></script>
</body>

</html>